<h1><%= title %></h1>
<%= link_to "Free your Google sheets!", "/auth/google" %>
<ul>
  <li><h2>Convert your google sheet into a shareable/revokeable API.</h2></li>
  <li><h2>Simplify your Data Analysis - Import and Group</h2></li>
</ul>

<p style="text-align: center;">created by <%= link_to("blair anderson", 'https://github.com/blairanderson') %></p>