<h1><%= title %></h1>
<p>this page has purposely been left ugly to prevent users from signing up.</p>
<%= link_to "Free your Google sheets!", "/auth/google" %>
<p>Convert your google sheet into a shareable/revokeable API.</p>
<p>created by <%= link_to("blair anderson", 'https://github.com/blairanderson') %></p>