<div class="col-lg-12">
  <div class="row centered">
    <div class="col-md-4">
      <h1>Make a ZenSheet!</h1>
      <table>
        <thead>
          <tr>
            <th>updated</th>
            <th>link</th>
            <th>author</th>
          </tr>
        </thead>
        <tbody>
        <% @google.each do |sheet| %>
            <tr>
              <td><%= sheet[:updated_at].to_s(:long_ordinal) %></td>
              <td><%= link_to sheet[:title], onboarding_path({id: sheet[:id]}) %></td>
              <td><%= sheet[:author_email] %>(<%= sheet[:author_name] %>)</td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
